@import url("https://zeenui-dev.netlify.app/styles.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  font-size: 16px;
}
.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(110px, auto);
}

/* ----cart page design--------------- */

.navigation-bar-new {
  /* position: fixed; */
  grid-column: 1/13;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  background: #a5b4fc;
}
.main-listing-container {
  display: flex;
  height: auto;

  grid-column: 1/13;
}
